@import url("https://fonts.googleapis.com/css?family=Lobster|Londrina+Shadow|Staatliches&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-display: auto;
}

.order-container {
  padding-top: 60px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#3f3f3f));
  background: linear-gradient(to bottom, #242424, #3f3f3f);
  font-family: "Lobster";
}

.order-container .order-header {
  height: 10%;
  width: 60%;
  margin: 40px auto;
  padding: none;
  text-align: center;
  line-height: 60px;
  font-size: 6vw;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  color: white;
}

.order-container h2 {
  color: white;
  padding: 10px;
  font-size: 4vw;
  font-family: "Staatliches";
}

.order-container .add-ons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #e20000;
  width: 100%;
  padding: 15px 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.568);
}

.order-container .add-ons h1 {
  color: white;
  font-size: 5vw;
}

.order-container .add-ons input {
  visibility: hidden;
}

.order-container .add-ons label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 6vw;
  height: 6vw;
  margin-bottom: 20px;
  background: white;
  cursor: pointer;
}

.order-container .add-ons [type=checkbox]:checked + span {
  background-image: url("./images/checkmark.png");
  background-size: cover;
}

.order-container textarea {
  width: 80vw;
  height: 150px;
  font-size: 16px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  outline: none;
  font-family: "Staatliches";
}

.order-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.order-container .button-container button {
  width: 35vw;
  padding: 3vw 0vw;
  color: white;
  background: #e20000;
  outline: none;
  font-size: 5vw;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Lobster";
  border: 2px solid #e20000;
}

.order-container .button-container button:hover {
  color: #e20000;
  background: white;
  border: 2px solid #e20000;
}

@media screen and (min-width: 550px) {
  .order-page-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#3f3f3f));
    background: linear-gradient(to bottom, #242424, #3f3f3f);
  }
  .order-page-container .order-container {
    width: 50%;
    padding: 10px 30px;
    margin: 0px auto;
    height: 100%;
    background: rgba(0, 0, 0, 0.164);
  }
  .order-page-container .order-container .order-header {
    height: 10%;
    width: 80%;
    margin: 40px auto;
    padding: 2vw;
    text-align: center;
    line-height: 60px;
    font-size: 5vw;
  }
  .order-page-container .order-container h2 {
    color: white;
    padding: 2vw;
    font-size: 4vw;
  }
  .order-page-container .order-container .add-ons {
    padding: 30px 30px;
  }
  .order-page-container .order-container .add-ons h1 {
    color: white;
    font-size: 30px;
  }
  .order-page-container .order-container .add-ons input {
    visibility: hidden;
  }
  .order-page-container .order-container .add-ons label span {
    width: 25px;
    height: 25px;
  }
  .order-page-container .order-container .add-ons [type=checkbox]:checked + span {
    background-image: url("./images/checkmark.png");
    background-size: cover;
  }
  .order-page-container .order-container textarea {
    width: 80%;
    height: 150px;
    font-size: 30px;
  }
  .order-page-container .order-container .button-container {
    height: 100px;
  }
  .order-page-container .order-container .button-container button {
    width: 15vw;
    padding: 3vw 0vw;
    font-size: 2vw;
  }
}

@media screen and (min-width: 1000px) {
  .order-page-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .order-page-container .order-container {
    width: 40%;
    padding: 10px 30px;
    margin: 0px auto;
    height: 100%;
  }
  .order-page-container .order-container .order-header {
    font-size: 4vw;
  }
  .order-page-container .order-container h2 {
    font-size: 30px;
  }
  .order-page-container .order-container textarea {
    width: 80%;
    height: 150px;
    font-size: 30px;
  }
  .order-page-container .order-container .button-container {
    height: 100px;
  }
  .order-page-container .order-container .button-container button {
    width: 150px;
    padding: 15px 0px;
    font-size: 20px;
    border: 2px solid red;
    background: red;
  }
  .order-page-container .order-container .button-container button:hover {
    color: red;
    background: white;
    border: 2px solid red;
  }
}
/*# sourceMappingURL=order.css.map */