.order-container{
    padding-top: 50px;
    height: 100vh;
    background: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.555);
    
        

.order-header{
    height: 10%;
    width: 100%;
    padding: none;
    text-align: center;
    line-height: 60px;    
}

h2{
    color:red;
    padding: 10px;
    font-size: 6vw;
} 


.add-ons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: red;
    width:100%;
    padding: 2vw 5vw;
    border-bottom: 2px solid rgba(255, 255, 255, 0.568);

    h1{
        color:white;
        font-size: 5vw;
    }

     
    
    
    input{ 
        visibility: hidden;
                
}
label span{
    display: flex;
    align-items: flex-start;
    width:6vw;
    height: 6vw;
    margin-right: 5vw;
    margin-bottom: 20px;
    background: white;
    
    
}
[type=checkbox]:checked + span{
    background-image: url("../../imgs/checkmark.png");
    background-size: cover;
    
}
    
  
}

textarea{
    border: 2px solid red;
    width: 80vw;
    height: 150px;
    font-size: 30px;
    margin: auto;
    display: flex;
    align-self: center;
    justify-self: center;
    outline: none;
}
.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

    button{
        
            
            width: 35vw;
            padding: 3vw 0vw;
            color: white;
            background: red;
            outline: none;
            font-size: 5vw;
            border: 0;
            }
    
}

}