.order-container{
    padding-top: 60px;
    height: 100%;
    background: white;
    
    
        

.order-header{
    height: 10%;
    width: 100%;
    padding: none;
    text-align: center;
    line-height: 60px;
    font-size: 6vw;
    border-bottom: 2px solid black;    
    border-top: 2px solid black; 
}

h2{
    color:red;
    padding: 10px;
    font-size: 4vw;
} 


.add-ons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: red;
    width:100%;
    padding: 15px 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.568);

    h1{
        color:white;
        font-size: 5vw;
    }

    input{ 
        visibility: hidden;
                
}
label span{
    display: flex;
    align-items: flex-start;
    width:6vw;
    height: 6vw;
    
    margin-bottom: 20px;
    background: white;
    cursor: pointer;
   
}
[type=checkbox]:checked + span{
    background-image: url("./images/checkmark.png");
    background-size: cover;    
} 
}

textarea{
    border: 2px solid red;
    width: 80vw;
    height: 150px;
    font-size: 30px;
    margin: auto;
    display: flex;
    align-self: center;
    justify-self: center;
    outline: none;
}
.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

    button{
        
            
            width: 35vw;
            padding: 3vw 0vw;
            color: white;
            background: red;
            outline: none;
            font-size: 5vw;
            border: 0;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            }
            button:hover{
                color: black;
                
            }
    
    
}

}

@media screen and (min-width: 550px){
.order-page-container{
    padding-top: 60px;
    padding-bottom: 60px;
    background: center/60vw url("./images/wood-background.webp");
        
    
    .order-container{
        width: 50%;
        padding: 10px 30px;
        margin: 0px auto;
        height: 100%;        
        background: rgba(255, 255, 255, 0.5);
        
            
    
    .order-header{
        height: 10%;
        width: 80%;
        margin: 40px auto;
        padding: 2vw;
        text-align: center;
        line-height: 60px;
        font-size: 5vw;
        
    }
    
    h2{
        color:red;
        padding: 2vw;
        font-size: 4vw;
    } 
    
    .add-ons{
    
        padding: 30px 30px;
        
    
        h1{
            color:white;
            font-size: 30px;
        }
    
        input{ 
            visibility: hidden;
                    
    }
    label span{ 
        width:25px;
        height: 25px;    
    }
    [type=checkbox]:checked + span{
        background-image: url("./images/checkmark.png");
        background-size: cover;
        
    }
        
      
    }
    
    textarea{
        
        width: 80%;
        height: 150px;
        font-size: 30px;
        
    }
    .button-container{
        
        height: 100px;
    
        button{
            width: 15vw;
            padding: 3vw 0vw;
            font-size: 2vw;
        }
                
        
    }
    }
}
}
@media screen and (min-width: 1000px){
    .order-page-container{
        padding-top: 60px;
        padding-bottom: 60px;
        background: center/60vw url("./images/wood-background.webp");
            
        
        .order-container{
            width: 40%;
            padding: 10px 30px;
            margin: 0px auto;
            height: 100%;        
            background: rgba(255, 255, 255, 0.5);
            
                
        
        .order-header{
            
            font-size: 4vw;
            
        }
        
        h2{
            
            font-size: 30px;
        } 
        
        
        
        textarea{
            
            width: 80%;
            height: 150px;
            font-size: 30px;
            
        }
        .button-container{
            
            height: 100px;
        
            button{
                width: 150px;
                padding: 15px 0px;
                font-size: 20px;
            }
                    
            
        }
        }
    }
    }
