@import url("https://fonts.googleapis.com/css?family=Lobster|Londrina+Shadow|Staatliches&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-display: auto;
}

.empty-cart-page-container {
  padding-top: 40px;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#3f3f3f));
  background: linear-gradient(to bottom, #242424, #3f3f3f);
  font-family: "Staatliches";
}

.empty-cart-page-container .empty-cart {
  margin: 40px auto;
  height: 200px;
  width: 300px;
  background: #db0101;
  text-align: center;
  padding: 40px;
  font-size: 25px;
}

.empty-cart-page-container a {
  text-decoration: none;
}

.empty-cart-page-container .empty-cart-button {
  background: black;
  text-decoration: none;
  color: white;
  padding: 20px;
  margin-top: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 60%;
  font-size: 20px;
  text-align: center;
  font-family: "Lobster";
  border: 2px solid black;
  line-height: 0px;
  cursor: pointer;
}

.empty-cart-page-container .empty-cart-button:hover {
  background: white;
  color: black;
}

@media screen and (min-width: 900px) {
  .empty-cart-page-container .empty-cart {
    height: 300px;
    width: 500px;
    padding: 50px;
    font-size: 35px;
  }
  .empty-cart-page-container .empty-cart-button {
    margin-top: 20px;
    height: 60px;
    font-size: 20px;
    width: 60%;
  }
}

.cart-page-container {
  background: white;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 300px;
}

.cart-page-container .cart-container {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.514);
}

.cart-page-container .cart-container .cart-title {
  color: red;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  text-align: center;
  font-size: 5vw;
  font-family: "Staatliches";
}

.cart-page-container .cart-container .cart-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-page-container .cart-container .subtotal {
  color: black;
  margin-left: 40%;
  margin-right: 10%;
  font-family: "Staatliches";
  font-weight: 1000;
  margin: 10px 10% 50px 40%;
  padding: 10px;
  border-top: 2px solid black;
}

.cart-page-container .cart-container .cart-button-container {
  width: 80vw;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-page-container .cart-container .cart-button-container .cart-button {
  width: 35vw;
  padding: 3vw 0vw;
  color: white;
  background: red;
  outline: none;
  font-size: 5vw;
  border: 0;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .cart-page-container {
    background: center 1000px url("./images/wood-background.webp");
  }
  .cart-page-container .cart-container {
    width: 60vw;
    margin: auto;
  }
  .cart-page-container .cart-container .subtotal {
    font-size: 2.5vw;
    margin-left: 20%;
    margin-right: 10%;
    margin: 10px 10% 50px 30%;
    padding: 10px;
    border-top: 2px solid black;
  }
  .cart-page-container .cart-container .cart-button-container {
    width: 60vw;
  }
  .cart-page-container .cart-container .cart-button-container .cart-button {
    width: 15vw;
    margin: 20px 8vw;
    padding: 3vw 0vw;
    font-size: 2vw;
  }
}

@media screen and (min-width: 900px) {
  .cart-page-container .cart-container {
    width: 40vw;
    margin: auto;
  }
  .cart-page-container .cart-container .cart-button-container {
    width: 100%;
  }
  .cart-page-container .cart-container .cart-button-container .cart-button {
    width: 12vw;
    margin: 20px 1vw;
    padding: 1vw 0vw;
    font-size: 2vw;
  }
}
/*# sourceMappingURL=cart.css.map */