// :::::::::::::Empty Cart Displayed:::::::::::::
@import '../../index.scss';

.empty-cart-page-container{
padding-top: 40px;
height: 100vh;
background: linear-gradient(to bottom, #242424, #3f3f3f); 
font-family: map-get($fonts , 2 );

.empty-cart{
    margin: 40px auto;
    height: 200px;
    width: 300px;
    background: rgb(219, 1, 1);
    text-align: center;
    padding: 40px;
    font-size: 25px;
}
a{
    text-decoration: none;
}
.empty-cart-button{
    background: rgb(0, 0, 0);
    text-decoration: none;
    color:white;
    padding: 20px;
    margin-top: 20px;
    transition: all .5s;
    width: 60%;
    font-size: 20px;
    text-align: center;
    font-family: map-get($fonts, 1);
    border: 2px solid rgb(0, 0, 0);
    line-height: 0px;
    cursor: pointer;     
}

.empty-cart-button:hover{
    background: rgb(255, 255, 255);
            color: black;
}
} 

@media screen and (min-width:500px){
    .empty-cart-page-container{
        
        
        .empty-cart{
            
        }
        .empty-cart-button{  
                
        }
    } 
}
@media screen and (min-width:900px){
    .empty-cart-page-container{
        
        
        .empty-cart{
            height: 300px;
            width: 500px;
            padding: 50px;
            font-size: 35px;
        }
        .empty-cart-button{  
            margin-top: 20px;
            height: 60px;
            font-size: 20px; 
            width: 60%;       
        }
    } 
}


// :::::::::::::Occupied Cart Displayed:::::::::::::


.cart-page-container{
   background: white;
    height: 100%;
    padding-top: 60px;
    padding-bottom:300px;
    

.cart-container{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 0.514);
    
    
    .cart-title{
        color: red;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        text-align: center;
        font-size: 5vw;
        font-family: map-get($fonts, 2);
        
    }
    .cart-items-container{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        
        
    }
    
    .subtotal{
        color: rgb(0, 0, 0);
        margin-left: 40%;
        margin-right: 10%;
        font-family: map-get($fonts , 2 );
            font-weight: 1000;
        margin: 10px 10% 50px 40%;
        padding: 10px;
        border-top: 2px solid black
    }
    .cart-button-container{
        width:80vw;
        margin: 30px auto;    
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .cart-button{
        width: 35vw;
        padding: 3vw 0vw;
        color: white;
        background: red;
        outline: none;
        font-size: 5vw;
        border: 0;
        cursor: pointer;
        
        }
    }
}
}

@media screen and (min-width:600px){

.cart-page-container{
    background: center 1000px url("./images/wood-background.webp");
    .cart-container{
        width: 60vw;
        margin: auto;
        .subtotal{
        font-size: 2.5vw;  
        margin-left: 20%;
        margin-right: 10%;
        margin: 10px 10% 50px 30%;
        padding: 10px;
        border-top: 2px solid black
        }
        .cart-button-container{
            width:60vw;
            
            .cart-button{
            width: 15vw;
            margin: 20px 8vw;
            padding: 3vw 0vw;
            font-size: 2vw;
            
            
            }
        }
       
    }
}
}
@media screen and (min-width:900px){

.cart-page-container{
   
    .cart-container{
        width: 40vw;
        margin: auto;
        
        .cart-button-container{
            width:100%;
            .cart-button{
            width: 12vw;
            margin:20px 1vw;
            padding: 1vw 0vw;
            font-size: 2vw;
            }
        }
       
    }
}
}
