.title-container {
  overflow-x: hidden;
  position: initial;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 30% 20%;
      grid-template-columns: 50% 30% 20%;
  -ms-grid-rows: 20% 50% 30%;
      grid-template-rows: 20% 50% 30%;
  height: 100vh;
  width: 100%;
  background-color: red;
  background-image: url(./images/Title-img.png);
  background-size: cover;
  background-position: left;
  overflow: hidden;
  -webkit-animation: fade-in 2s;
          animation: fade-in 2s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-container .main-page-loading-screen {
  background: #00ff2a;
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.title-container .desktop-sidebar {
  display: none;
}

.title-container .sidebar-header {
  display: none;
}

.title-container .desktop-main-section {
  display: none;
}

.title-container .jumbotron {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  height: 100%;
  text-align: left;
  font-size: 4.5vh;
  color: #fbfbfb;
  padding-left: 20px;
}

.title-container .six {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  height: 120%;
  background-image: url("./images/six-mini.png");
  background-size: cover;
  background-position: left;
}

@media only screen and (min-width: 400px) {
  .title-container .jumbotron {
    padding: 30px;
    font-size: 7vw;
  }
  .title-container .six {
    background-image: url("./images/six.png");
  }
}

@media only screen and (min-width: 650px) {
  .title-container .jumbotron {
    font-size: 5.5vw;
  }
}

@media only screen and (min-width: 900px) {
  .title-container {
    -ms-grid-columns: 50% 20% 45px 30%;
        grid-template-columns: 50% 20% 45px 30%;
  }
  .title-container .desktop-sidebar {
    display: -ms-grid;
    display: grid;
    grid-column: 4/-1;
    grid-row: 1/-1;
    background: red;
  }
  .title-container .desktop-sidebar .sidebar-content {
    font-size: 2vw;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15vh;
    text-align: center;
    -webkit-animation: content-animation 2s ease-in-out;
            animation: content-animation 2s ease-in-out;
  }
  @-webkit-keyframes content-animation {
    0% {
      margin-left: 400px;
    }
  }
  @keyframes content-animation {
    0% {
      margin-left: 400px;
    }
  }
  .title-container .desktop-sidebar span {
    display: block;
    font-size: 4vw;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .title-container .sidebar-header {
    position: relative;
    z-index: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    grid-row: 1/-1;
    display: initial;
  }
  .title-container .sidebar-header h1 {
    display: block;
    color: white;
    padding-top: 8vh;
    font-size: 70px;
    word-spacing: -50px;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
  }
  .title-container .icon-container {
    margin-top: 20vh;
    grid-column: 4/-1;
    grid-row: 2/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-container .icon-container .icon-fries {
    height: 15%;
    width: 100%;
    background-image: url(./images/fries-icon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-left: 12vw;
    padding: -30px;
    -webkit-animation: icon-fries-fade-in 2s ease-in;
            animation: icon-fries-fade-in 2s ease-in;
  }
  @-webkit-keyframes icon-fries-fade-in {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
  }
  @keyframes icon-fries-fade-in {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
  }
  .title-container .icon-container .icon-burger {
    height: 15%;
    width: 100%;
    background-image: url(./images/burger-icon.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 12vw;
    -webkit-animation: icon-burger-fade-in 2.5s ease-in;
            animation: icon-burger-fade-in 2.5s ease-in;
  }
  @-webkit-keyframes icon-burger-fade-in {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
  }
  @keyframes icon-burger-fade-in {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
  }
  .title-container .icon-container .icon-drink {
    height: 15%;
    width: 100%;
    background-image: url(./images/soda.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 12vw;
    -webkit-animation: icon-drink-fade-in 3s ease-in;
            animation: icon-drink-fade-in 3s ease-in;
  }
  @-webkit-keyframes icon-drink-fade-in {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes icon-drink-fade-in {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .title-container .desktop-main-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    background-image: url(./images/Title-img.png);
    background-size: cover;
    background-position: left;
  }
  .title-container .jumbotron {
    font-size: 5vw;
    position: relative;
    z-index: 2;
  }
  .title-container .six {
    z-index: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .title-container .jumbotron {
    font-size: 5vw;
    padding: 20px;
  }
}
/*# sourceMappingURL=title-section.css.map */