.container{
    height: 100vh;
    background-image: url("C:/Users/ZeroTwoNiner/Documents/MyWebsites/React-Apps/Six Guys/src/imgs/Title-img.png");
    background-size: cover;
    background-position: left;
}