* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title-container {
  overflow-x: hidden;
  position: initial;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 30% 20%;
      grid-template-columns: 50% 30% 20%;
  -ms-grid-rows: 20% 40% 40%;
      grid-template-rows: 20% 40% 40%;
  height: 100vh;
  width: 100%;
  background-color: red;
  background-image: url(./images/bob-burgers-title.webp);
  background-size: cover;
  background-position: 20%;
  overflow: hidden;
  -webkit-animation: fade-in 2s;
          animation: fade-in 2s;
  font-family: "Lobster";
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-container .desktop-sidebar {
  display: none;
}

.title-container .sidebar-header {
  display: none;
}

.title-container .desktop-main-section {
  display: none;
}

.title-container .jumbotron {
  position: relative;
  display: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  height: 100%;
  text-align: left;
  font-size: 12vw;
  line-height: 16vw;
  color: black;
  font-family: "Staatliches";
  font-weight: 1000;
  padding-left: 20px;
}

.title-container .jumbotron span {
  color: red;
  font-weight: 1000;
}

.title-container .call-to-action-button {
  position: absolute;
  bottom: 40px;
  width: 120px;
  height: 120px;
  left: calc(50% - 40px);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
}

.title-container .call-to-action-button i {
  display: block;
  font-size: 80px;
  color: black;
  line-height: 40px;
  border-radius: 50%;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

.title-container .call-to-action-button i:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.title-container .call-to-action-button i:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media only screen and (min-width: 400px) {
  .title-container .jumbotron {
    padding: 20px;
    padding-top: 0px;
    font-size: 10vw;
    line-height: 10vw;
  }
}

@media only screen and (min-width: 530px) {
  .title-container .jumbotron {
    padding: 20px;
    padding-top: 0px;
    font-size: 8vw;
    line-height: 8vw;
  }
}

@media only screen and (min-width: 650px) {
  .title-container .jumbotron {
    font-size: 6vw;
    padding-top: 0px;
  }
}

@media only screen and (min-width: 900px) {
  .title-container {
    -ms-grid-columns: 50% 18% 45px 30%;
        grid-template-columns: 50% 18% 45px 30%;
  }
  .title-container .desktop-sidebar {
    display: -ms-grid;
    display: grid;
    grid-column: 4/-1;
    grid-row: 1/-1;
    background: red;
    border-left: 4px solid black;
  }
  .title-container .desktop-sidebar .sidebar-content {
    font-size: 2vw;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15vh;
    text-align: center;
    -webkit-animation-name: content-animation;
            animation-name: content-animation;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  @-webkit-keyframes content-animation {
    0% {
      margin-left: 400px;
    }
  }
  @keyframes content-animation {
    0% {
      margin-left: 400px;
    }
  }
  .title-container .desktop-sidebar span {
    display: block;
    font-size: 4vw;
    color: white;
    font-family: "Londrina Shadow";
    font-weight: 600;
  }
  .title-container .sidebar-header {
    position: relative;
    z-index: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    grid-row: 1/-1;
    display: initial;
  }
  .title-container .sidebar-header h1 {
    display: none;
    color: rgba(255, 255, 255, 0.335);
    padding-top: 20vh;
    font-size: 80px;
    word-spacing: -50px;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
    font-family: "Londrina Shadow";
    font-weight: 600;
  }
  .title-container .icon-container {
    margin-top: 20vh;
    grid-column: 4/-1;
    grid-row: 2/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-container .icon-container .icon-fries {
    height: 15%;
    width: 100%;
    background-image: url(./images/fries-icon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-left: 12vw;
    padding: -30px;
    -webkit-animation: icon-fries-fade-in 1.5s ease-in;
            animation: icon-fries-fade-in 1.5s ease-in;
  }
  @-webkit-keyframes icon-fries-fade-in {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
  }
  @keyframes icon-fries-fade-in {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
  }
  .title-container .icon-container .icon-burger {
    height: 15%;
    width: 100%;
    background-image: url(./images/burger-icon.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 12vw;
    -webkit-animation: icon-burger-fade-in 2s ease-in;
            animation: icon-burger-fade-in 2s ease-in;
  }
  @-webkit-keyframes icon-burger-fade-in {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
  }
  @keyframes icon-burger-fade-in {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
  }
  .title-container .icon-container .icon-drink {
    height: 15%;
    width: 100%;
    background-image: url(./images/soda.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-left: 12vw;
    -webkit-animation: icon-drink-fade-in 2.5s ease-in;
            animation: icon-drink-fade-in 2.5s ease-in;
  }
  @-webkit-keyframes icon-drink-fade-in {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes icon-drink-fade-in {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .title-container .desktop-main-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    background-image: url(./images/bob-burgers-title.webp);
    background-size: cover;
    background-position: left;
  }
  .title-container .jumbotron {
    font-size: 5vw;
    position: relative;
    z-index: 2;
  }
}

@media only screen and (min-width: 1200px) {
  .title-container .jumbotron {
    width: 60%;
    line-height: 6vw;
    font-size: 3vw;
  }
}
/*# sourceMappingURL=title-section.css.map */