
.img-transition-1{
    animation: animation1 2s; 
}
.img-transition-2{
    animation: animation2 2s; 
}
@keyframes animation1 {
    0%{
        opacity: 0;
        filter: blur(4px)
    }
    100%{
        opacity: 1;
        filter: blur(0)
    }
}
@keyframes animation2 {
    0%{
        opacity: 0;
        filter: blur(4px)
    }
    100%{
        opacity: 1;
        filter: blur(0)
    }
}

.carousel-container{
    height: 50vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    
    span{
        position: absolute;
        font-size: 10vw;
        top: 35vh;
        left: 20px;
        color: white;
        animation: header-scale 3000ms ease-in-out infinite ;
       
    }
    @keyframes header-scale {
        0%{
            transform: scale(1.05)
        }
        50%{
            transform: scale(1)
        }
        100%{
            transform: scale(1.05)
        }
    }
    
    
    .carousel-image{
        width: 100vw;
        height: 40vh;
        margin-top: 40px;
        background-position: center;
        background-size: cover;
        
    
    }
    
    
    .fa-arrow-circle-left, .fa-arrow-circle-right{
        position: absolute;
        font-size: 30px;
        padding: 5px;
        color: red;
        top:20vh;
        opacity: 1;
    }
    .fa-arrow-circle-right{
        position: absolute;
        top:20vh;
        right: 0;
    }
    .fa-arrow-circle-left:hover,
    .fa-arrow-circle-right:hover{
        color: white;
        transition: color 0.5s;
    }
}