

.carousel-container{
    height: 50vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    

    span{
        position: absolute;
        z-index: 2;
        font-size: 8vw;
        font-weight: 1000;
        background: rgb(255, 255, 255);
        border: 2px solid red;
        padding: 6px;
        top: 40vh;
        left: 20px;
        color: rgb(255, 0, 0);
        animation: header-scale 3000ms ease-in-out infinite ;
    }
    @keyframes header-scale {
        0%{
            transform: scale(1.05)
        }
        50%{
            transform: scale(1)
        }
        100%{
            transform: scale(1.05)
        }
    }
    
    
    .carousel-image{
        width: 100vw;
        height: 50vh;
        background-position: center;
        background-size: cover;
        
    }

    
.img-transition-1{
    animation: animation1 2s; 
}
.img-transition-2{
    animation: animation2 2s; 
}
@keyframes animation1 {
    0%{
        opacity: 0;
        filter: blur(4px)
    }
    100%{
        opacity: 1;
        filter: blur(0)
    }
}
@keyframes animation2 {
    0%{
        opacity: 0;
        filter: blur(4px)
    }
    100%{
        opacity: 1;
        filter: blur(0)
    }
}
    
    
    .fa-arrow-circle-left, .fa-arrow-circle-right{
        position: absolute;
        z-index: 2;
        font-size: 30px;
        padding-left: 1vw;
        color:red;
        top:20vh;
        opacity: 1;
        cursor: pointer;
    }
    .fa-arrow-circle-right{
        position: absolute;
        top:20vh;
        right: 0;
        
    }
    .fa-arrow-circle-left{
        position: absolute;
        top:20vh;
        left: 0;
        
    }
    .fa-arrow-circle-left:hover,
    .fa-arrow-circle-right:hover{
        color: white;
        transition: color 0.5s;
    }
}

@media screen and (min-width:600px){
    .carousel-container{
        height: 60vh;

    .carousel-image{   
        height: 60vh;
        }
        .fa-arrow-circle-left, .fa-arrow-circle-right{
            position: absolute;
            z-index: 2;
            font-size: 3vw;
            padding: 10px;
            color: white;
            background: red;
            top:30vh;
            opacity: 1;
        }
        .fa-arrow-circle-left:hover,.fa-arrow-circle-right:hover{
            color: black;
        }
        .fa-arrow-circle-right{
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
        .fa-arrow-circle-left{
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        span{
            position: absolute;
            z-index: 2;
            font-size: 7vw;
            top: 45vh;
            left: 20px;
            
        }
    }
}
@media screen and (min-width:900px){
    .carousel-container{
        height: 80vh;
        width: 80vw;
        margin: auto;
        
        .carousel-image{   
            height: 80vh;
            width: 80vw;
            }

        span{
            z-index: 2;
            font-size: 6vw;
            top: 60vh;
            left: 30px;
            
        }
    }
}