* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel-container {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
}

.carousel-container span {
  position: absolute;
  z-index: 2;
  font-size: 8vw;
  font-weight: 1000;
  background: white;
  border: 2px solid red;
  padding: 6px;
  top: 40vh;
  left: 20px;
  color: red;
  -webkit-animation: header-scale 3000ms ease-in-out infinite;
          animation: header-scale 3000ms ease-in-out infinite;
  font-family: "Lobster";
}

@-webkit-keyframes header-scale {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes header-scale {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.carousel-container .carousel-image {
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.carousel-container .img-transition-1 {
  -webkit-animation: animation1 2s;
          animation: animation1 2s;
}

.carousel-container .img-transition-2 {
  -webkit-animation: animation2 2s;
          animation: animation2 2s;
}

@-webkit-keyframes animation1 {
  0% {
    opacity: 0;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes animation1 {
  0% {
    opacity: 0;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes animation2 {
  0% {
    opacity: 0;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes animation2 {
  0% {
    opacity: 0;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.carousel-container .fa-arrow-circle-left, .carousel-container .fa-arrow-circle-right {
  position: absolute;
  z-index: 2;
  font-size: 30px;
  padding-left: 1vw;
  color: red;
  top: 20vh;
  opacity: 1;
  cursor: pointer;
}

.carousel-container .fa-arrow-circle-right {
  position: absolute;
  top: 20vh;
  right: 0;
}

.carousel-container .fa-arrow-circle-left {
  position: absolute;
  top: 20vh;
  left: 0;
}

.carousel-container .fa-arrow-circle-left:hover,
.carousel-container .fa-arrow-circle-right:hover {
  color: white;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

@media screen and (min-width: 600px) {
  .carousel-container {
    height: 60vh;
  }
  .carousel-container .carousel-image {
    height: 60vh;
  }
  .carousel-container .fa-arrow-circle-left, .carousel-container .fa-arrow-circle-right {
    position: absolute;
    z-index: 2;
    font-size: 3vw;
    padding: 10px;
    color: white;
    background: rgba(255, 0, 0, 0.472);
    top: 30vh;
    opacity: 1;
  }
  .carousel-container .fa-arrow-circle-left:hover, .carousel-container .fa-arrow-circle-right:hover {
    color: #464646;
  }
  .carousel-container .fa-arrow-circle-right {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .carousel-container .fa-arrow-circle-left {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .carousel-container span {
    position: absolute;
    z-index: 2;
    font-size: 2vw;
    left: 20px;
  }
}

@media screen and (min-width: 900px) {
  .carousel-container {
    height: 80vh;
    width: 100%;
    margin: auto;
  }
  .carousel-container .carousel-image {
    height: 100%;
  }
  .carousel-container span {
    z-index: 2;
    font-size: 3vw;
    top: 60vh;
    width: 600px;
    left: calc(5vw);
  }
}
/*# sourceMappingURL=carousel.css.map */