@import '../../../index.scss';

.menu-page-container{
    background: linear-gradient(to bottom, #242424, #3f3f3f); 
.menu-header{
    height: 100%;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    color: white;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    font-size: 7vw;
    font-family: map-get($fonts, 1 ); 
}

}
@media screen and (min-width:600px){
    .menu-page-container{
        
        
        
    .menu-header{
        font-size: 5vw;
        
        
    }

    .menu-items-list-container{
        width: 60%;
        margin:  0px auto;
        padding-top: 60px;
        padding-bottom: 60px;
        background: rgb(250, 250, 250);
    }
}
}
@media screen and (min-width:600px){
    .menu-page-container{
        text-align: center;
        padding-bottom: 50px;
        .menu-items-list-container{
            background: rgba(51, 51, 51, 0);
            width: 90%;
            padding: 0;
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 1fr 1fr;
            
            .menu-item-container{
                text-align: center;
                width: 100%;
                height: 100%;
                padding: 20px;
                margin: 0px;
                .menu-item-name{
                    text-align: center;
                }
            }
        }
    }
}
