@import '../../index.scss';

.about-page-container{
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    background: red;
    background-repeat: repeat;
    

    .about-page-image{
        height: 500px;
        width: 100%;
        padding-top: 220px;
        background: url("./images/burgers-about-page.webp");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .about-page-content-container{
        width: 40vw;
        margin: 0px auto;
        border: 2px solid white;
        p{
            background:rgb(255, 255, 0);
            color: black;
            font-family: map-get($fonts , 2 );
            font-size: 1vw;
            font-weight: 1000;
            text-align: center;
            padding: 20px;
        }
    }
}
@media screen and (min-width:500px){

.about-page-container{
    
    

    .about-page-image{
        
        
        
        
    }
    .about-page-content-container{
        p{
               
        }
    }
}
}
@media screen and (min-width:800px){

.about-page-container{
    
    

    
    .about-page-content-container{
        p{
               
        }
    }
}
}