.about-page-container{
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    background: red;
    background-repeat: repeat;
    

    .about-page-image{
        height: 0%;
        width: 100%;
        padding-top: 350px;
        background: url("./images/burgers-about-page.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .about-page-content-container{
        width: 80vw;
        margin: 0px auto;
        border: 2px solid white;
        p{
            background:rgb(255, 255, 0);
            color: black;
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 5vw;
            font-weight: 1000;
            text-align: center;
            padding: 30px;
        }
    }
}
@media screen and (min-width:500px){

.about-page-container{
    
    

    .about-page-image{
        height: 0%;
        width: 80vw;
        padding-top: 65vw;
        margin:auto;
        
    }
    .about-page-content-container{
        p{
            font-size: 4vw;   
        }
    }
}
}
@media screen and (min-width:800px){

.about-page-container{
    
    

    .about-page-image{
        height: 0%;
        width: 80vw;
        padding-top: 65vw;
        margin:auto;
        
    }
    .about-page-content-container{
        p{
            font-size: 5vw;   
        }
    }
}
}