@import '../../index.scss';

.checkout-container{
    

.checkout-header{
    padding-top: 60px;
    border-bottom: 2px solid rgb(255, 0, 0);
    text-align: center;
    font-size: 10vw;
}

.checkout-form-container{
    display: flex;
    padding-top:30px;
    padding-bottom: 80px;
    width: 80vw;
    margin:auto;

    form{
        width: 100%;
    }

    label, input,select{
        display: block;
        width:100%;
        padding: 5px;
    }
    label:focus,
    input:focus,
    select:focus{
        outline:2px solid red;
    }
    label{
        padding: 10px;
        font-size: 6vw;
    }
    input{
        margin-top:5px;
        
    }
    .error-message{
        color:red;
        font-size: 3vw;
    }
    .checkout-buttons{
        font-size: 5vw;
        display: flex;
        justify-content: space-between;
        margin-top: 20vw;
        button{
        width: 35vw;
        padding: 0.5vw 0vw;
        color: white;
        background: red;
        outline: none;
        font-size: 5vw;
        border: 0;
        cursor: pointer;
        }
        
    }

    .order-total-container{
        display: flex;
        justify-content: space-between;
        margin-top: 8vw;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 30px 5px;
        font-size: 3vw;
        h1{
            padding: 1vw;
            font-family: map-get($fonts , 2 );
            font-weight: 1000;
        }
        
    }
  }
}


@media screen and (min-width:600px){

.checkout-page-container{
    padding: 60px 0px;
    background: center 1000px url("./images/wood-background.webp");


.checkout-container{
    width: 60vw;
    margin: auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.698);

.checkout-header{
    padding-top: 0px;
    border-bottom: 2px solid rgb(255, 0, 0);
    text-align: center;
    font-size: 50px;
}

.checkout-form-container{
    padding-top:30px;
    padding-bottom: 0px;
    width: 100%;
    margin:auto;

    form{
        width: 100%;
    }

    label{
        padding: 10px;
        font-size: 35px;
    }
    input{
        margin-top:5px;
        
    }
    .error-message{
        color:red;
        font-size: 3vw;
    }
    .checkout-buttons{
        font-size: 30px;
        margin-top: 100px;
        margin-bottom: 40px;
        button{
        width: 150px;
        padding: 5px 0px;
        color: white;
        background: red;
        outline: none;
        font-size: 30px;
        
        }
        
    }

    .order-total-container{
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 10px 5px;
        font-size: 20px;
        h1{
            padding: 10px;
        }
        
    }
  }
}
}
}
@media screen and (min-width:900px){

.checkout-page-container{
    
.checkout-container{
    width: 50vw;
    
.checkout-form-container{

    .error-message{
        color:red;
        font-size: 3vw;
    }    
  }
}
}
}