.checkout-container{
    padding-top: 60px;
    
    .checkout-title{
        color: red;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        text-align: center;
    }
    .checkout-items-container{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .empty-cart{
        text-align: center;
        padding: 40px;
    }
    .subtotal{
        color: red;
        margin-left: 40%;
        margin-right: 10%;
        margin: 10px 10% 50px 40%;
        padding: 10px;
        border-top: 2px solid black
    }
}