.nav-hidden{
    display: none;
}
.header{
    
    position: fixed;
    display: flex;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 40px;
    background: red;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Russo One', sans-serif;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.479);
    animation: animation1 2s;
    
    @keyframes animation1 {
        0%{
            opacity: 0;
            filter: blur(4px)
        }
        100%{
            opacity: 1;
            
        }
    }  

    .header-title{
        flex-basis: 80%;
        text-align: center;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        a:focus{
            outline: none;
        }
    }
    .link{
        display: none;
    }
    
    .fa-shopping-cart{
        justify-self: right;
        padding-right: 10px;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }
    .link:hover, .header-title:hover, .fa-shopping-cart:hover{
        color: black;
        transition: color 0.5s;
    }
    .cart-number{
        position: absolute;
        top: 12px;
        right: 39px;
        z-index: 20;
        font-size: 1.5rem;
        padding: 2px;
        margin-right: 5%;
        color: rgb(2, 0, 1);
    }
    
    
}

@media (min-width:900px) {
    .header{
        .header-title{
            flex-basis: 80%;
            text-align: left;
            padding-left: 40px;
        }
     .link{
        display: initial;
        flex-basis: 10vw;
        text-align: center;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        a:focus{
            outline: none;
        }
    }

    .fa-shopping-cart{  
        padding-right: 40px;
       
    }
}
}


