
.header{
    
    position: fixed;
    display: flex;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 40px;
    background: red;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Russo One', sans-serif;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.479);
    

    .header-title{
        flex-basis: 80%;
        text-align: center;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
        outline: none;
        cursor: pointer;

        a:focus{
            outline: none;
        }
    }
    .fa-shopping-cart{
        justify-self: right;
        padding-right: 10px;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }
    .cart-number{
        position: absolute;
        top: 12px;
        right: 39px;
        z-index: 20;
        font-size: 1.5rem;
        padding: 2px;
        margin-right: 5%;
        color: rgb(2, 0, 1);
    }
    
}

