@import '../../index.scss';
.footer-container{
    height: 180px;
    width: 100%;
    background:rgb(266, 0, 0);
    color: rgb(0, 0, 0);
    a{
        color: rgb(0, 0, 0);
        font-size: 30px;
        transition: all 0.5s;
    }
    a:hover{
        color: rgb(255, 255, 255);
    }
    .social-media-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 50vw;
        margin: auto;
        padding-top: 20px;
        border-bottom: 2px solid black;
    }
    
    .sources-container{
        width: 90vw;
        margin: auto;
        padding: 8px;
        text-align: center;
        font-size: 10px;
        padding: 20px;
        font-family: map-get($fonts, 1 );
        a{
            font-size: 20px;
            font-family: map-get($fonts, 2 );
            text-decoration: none;
        }
    }
}

@media screen and (min-width:500px){

.footer-container{ 
    height: 190px;
    width: 100%;
    border-top: 2px solid black;
    color: rgb(255, 255, 255);
    a{
        font-size: 30px;
    }
    
    .social-media-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 50vw;
        margin: auto;
        padding-top: 40px;
        border-bottom: 2px solid black;
    }
    .sources-container{
        width: 90vw;
        margin: auto;
        padding: 8px;
        text-align: center;
        font-size: 10px;
        padding: 20px;
        a{
            font-size: 20px;
            text-decoration: none;
        }
    }
}
}