

.menu-container{
    box-sizing: border-box;
    width: 100%;
    background: rgb(255, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50vw;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 5vw;
        transition: all .5s;
        
        a{
            text-decoration: none;
            color:yellow;
            padding: 6vw;
            transition: all .5s;
        }
    }
    div:hover{
        filter:brightness(1.3);

        a:hover{
            transform: scale(0.9)
        }
    }

    .box1{
        padding: 20px;        
        grid-column:1/-1;
        grid-row: 1/1;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.383) 20%,
        rgba(0, 0, 0, 0.383)), url('./images/Bobs-diner.jpg');
        background-size: cover;
        background-position: center;
        color: rgb(255, 255, 255);
    }
    
    .box2{
        grid-column:1;
        grid-row: 2;
        background:rgb(255, 8, 0);
        color: rgb(255, 251, 0);
        line-height: 80px;
        font-weight: 1000;
        display: flex;
        flex-direction: column;
        font-family: 'Londrina shadow', cursive;
            a{
                text-decoration: underline;
            }
            a:hover{
                color: rgb(0, 0, 0);
                background: white;
            }
    }
    
    .box3{
        
        grid-column:2;
        grid-row: 2;
        color: rgb(229, 255, 0);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.376) 20%,
        rgba(255, 255, 255, 0.308)), url('./images/burger-bohemian.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        
    }
    .box4{
        
        grid-column:1/-1;
        grid-row: 3;
        color: rgb(255, 255, 255);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.281) 20%,
        rgba(255, 255, 255, 0.096)), url("./images/bob\'s-diner.png");
        background-size: cover;
        background-position: bottom;
    }
    .box5{
        
        grid-column:1;
        grid-row: 4;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.363) 20%,
        rgba(0, 0, 0, 0.089)), url('./images/burger-peas.jpg');
        background-size: cover;
        background-position: center;
        
        a{
            text-decoration: none;
            color:rgba(255, 255, 0, 0);
            padding: 60px;
        }
    }
    .box6{
        grid-column:2;
        grid-row: 4;
        background:rgb(255, 238, 0);
        padding-right: 10px;
        font-family: 'Londrina Shadow', cursive;
        font-weight: 800;
        text-align: right;
        height: 100%;
        
        .fa-angle-double-left{
            
            font-size: 12vw;
            animation: pulse-arrow 1.5s infinite ease-in-out;
            width: 100%;
            
            padding-right: 10px;
            
        }
        @keyframes pulse-arrow{
          
            50%{
               padding: 5px; 
                
            }
           
        }
    }
    .box7{
        
        grid-column:1/-1;
        grid-row: 5;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.563) 20%,
        rgba(0, 0, 0, 0.099)), url('./images/bobs-grill.jpg');
        background-size: cover;
        background-position: center;
        color: rgb(255, 255, 255);
        font-size: 6vw;
    }
    
    .box8{
        
        grid-column:2;
        grid-row: 6;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.363) 20%,
        rgba(0, 0, 0, 0.089)), url("./images/burger-kale.jpg");
        background-size: cover;
        background-position: center;
        color: yellow;
        font-size: 7vw;
    }
    .box9{
        grid-column:1;
        grid-row: 6/8;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.363) 20%,
        rgba(0, 0, 0, 0.089)), url('./images/fataish-sign.jpg');
        background-size: cover;
        background-position: center;
        color: white;
        font-size: 7vw;
        p{
            background: rgba(255, 0, 0, 0.609);
            width: 80%;
            margin: auto;
            padding: 40px;
            font-family: 'Londrina Shadow', cursive;
        }
    }
    .box10{
        
        grid-column:2;
        grid-row: 7;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.363) 20%,
        rgba(0, 0, 0, 0.089)), url('./images/burger-olive.jpg');
        background-size: cover;
        background-position: center;
        color: yellow;
        font-size: 7vw;
    }

    .box-link{
        animation: box-link-pulse 2s infinite;
        padding: 1vw;
        width: 20vw; 
        height: 15vw; 
        line-height: 12vw;
        background: black;
        color: white;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 5vw;
        border-radius: 5%;
        
        @keyframes box-link-pulse {
            0%{
                transform: scale(1)
            }
            50%{
                transform: scale(1.1)
            }
            100%{
                transform: scale(1)
            }
        }
    }
   
}


@media only screen and (min-width: 900px) {
.menu-container{  
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 30vw;
    
    div{
        font-size: 4vw;
        border-top: 2px solid rgb(255, 255, 255);
        border-right: 2px solid rgb(255, 255, 255);
        
    }

    .box1{
        grid-column:1/3;
        grid-row: 1/1;
        padding: 60px;
        
    }
    .box2{
        
        grid-column:3/4;
        grid-row: 1/1;
        
        
    }
    .box3{
        
        grid-column:4;
        grid-row: 1;
        
    }
    .box4{
        
        grid-column:2/4;
        grid-row: 2;
        
    }
    .box5{
        
        grid-column:1/3;
        grid-row: 3;
        
    }
    .box6{
        
        grid-column:3/4;
        grid-row: 3;
        padding-right: 30px;
        font-size: 3vw;
        
    }
    .box7{
        
        grid-column:1/3;
        grid-row: 4;
        font-size: 4vw;
        
    }
    .box8{
        
        grid-column:1/2;
        grid-row: 2;
        font-size: 4vw;
        
    }
    .box9{
        
        grid-column:4/5;
        grid-row: 2/4;
        font-size: 4vw;
        
    }
    .box10{
        
        grid-column:3/5;
        grid-row: 4;
        font-size: 4vw;
        
    }
    
    
    .box-link{
        animation: box-link-pulse 2s infinite;
        padding: 1vw;
        margin-top: 20px;
        width: 15vw; 
        height: 8vw; 
        line-height: 5vw;
        background: black;
        color: white;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 4vw;
        border-radius: 5%;
}
}
}




