.menu-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: #c3c3c3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50vw;
}

.menu-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 4vw;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.menu-container .box1 {
  padding: 20px;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1/1;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.383)), to(rgba(0, 0, 0, 0.383))), url("./images/lettuce-tomato.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.383) 20%, rgba(0, 0, 0, 0.383)), url("./images/lettuce-tomato.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.menu-container .box2 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  background: red;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lobster', cursive;
}

.menu-container .box3 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  color: #e5ff00;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.376)), to(rgba(255, 255, 255, 0.308))), url("./images/cheeseburger-black-gloves.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.376) 20%, rgba(255, 255, 255, 0.308)), url("./images/cheeseburger-black-gloves.jpg");
  background-size: cover;
  background-position: center;
}

.menu-container .box4 {
  grid-column: 1/-1;
  -ms-grid-row: 3;
  grid-row: 3;
  color: #e5ff00;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.096)), to(rgba(255, 255, 255, 0.096))), url("./images/cheese-burger-fries-veg.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.096) 20%, rgba(255, 255, 255, 0.096)), url("./images/cheese-burger-fries-veg.jpg");
  background-size: cover;
  background-position: center;
}

.menu-container .box5 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.363)), to(rgba(0, 0, 0, 0.089))), url("./images/fries.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.363) 20%, rgba(0, 0, 0, 0.089)), url("./images/fries.jpg");
  background-size: cover;
  background-position: center;
}

.menu-container .box6 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
  background: #ffee00;
  padding-right: 10px;
  font-family: 'Lobster', cursive;
  text-align: right;
  height: 100%;
}

.menu-container .box6 .fa-angle-double-left {
  font-size: 12vw;
  -webkit-animation: pulse-arrow 1.5s infinite ease-in-out;
          animation: pulse-arrow 1.5s infinite ease-in-out;
  width: 100%;
  padding-right: 10px;
}

@-webkit-keyframes pulse-arrow {
  50% {
    padding: 5px;
  }
}

@keyframes pulse-arrow {
  50% {
    padding: 5px;
  }
}

.menu-container .box7 {
  grid-column: 1/-1;
  -ms-grid-row: 5;
  grid-row: 5;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(0, 0, 0, 0.363)), to(rgba(0, 0, 0, 0.089))), url("./images/cheese-burger-close-up.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.363) 20%, rgba(0, 0, 0, 0.089)), url("./images/cheese-burger-close-up.jpg");
  background-size: cover;
  background-position: center;
}

.menu-container .box-link {
  -webkit-animation: box-link-pulse 2s infinite;
          animation: box-link-pulse 2s infinite;
  padding: 1vw;
  width: 20vw;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 4vw;
  border-radius: 5%;
}

@-webkit-keyframes box-link-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes box-link-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (min-width: 300px) {
  .menu-container {
    width: 100%;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
  }
  .menu-container .box1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .menu-container .box2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    grid-row: 1/1;
  }
  .menu-container .box3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .menu-container .box4 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .menu-container .box5 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .menu-container .box6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .menu-container .box7 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .menu-container .box8 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .menu-container .box9 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}
/*# sourceMappingURL=menu-section.css.map */